.carrossel{
    width: 960px;
    height: 540px;
    overflow: hidden;
}

.carrossel .fotos{
    width: 1100%;
    animation: animacao 10s infinite;
}

.carrossel .fotos img{
    width: 9.9%;
}

@keyframes animacao {
    0%{margin-left: 0%;}
    9%{margin-left: 0%;}
    10%{margin-left: -110%;}
    17%{margin-left: -110%;}
    18%{margin-left: -215%;}
    25%{margin-left: -215%;}
    26%{margin-left: -330%;}
    33%{margin-left: -330%;}
    34%{margin-left: -440%;}
    41%{margin-left: -440%;}
    42%{margin-left: -550%;}
    49%{margin-left: -550%;}
    50%{margin-left: -660%;}
    57%{margin-left: -660%;}
    58%{margin-left: -770%;}
    65%{margin-left: -770%;}
    66%{margin-left: -880%;}
    73%{margin-left: -880%;}
    74%{margin-left: -990%;}
    81%{margin-left: -990%;}
    82%{margin-left: -1110%;}
    89%{margin-left: -1110%;}
    96%{margin-left: 0;}
}