.carrossel{
    width: 859px;
    height: 483px;
    overflow: hidden;
}

.carrossel .images{
    width: 500%;
    animation: slide 10s infinite;
}

.carrossel .images img{
    width: 20%;
}

@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    55%{margin-left: -200%;}
    65%{margin-left: -300%;}
    70%{margin-left: -300%;}
    80%{margin-left: 0%;}
    85%{margin-left: 0%;}
    95%{margin-left: 0%;}
    100%{margin-left: 0%;}
}